.keyboard {
    display: grid;
    grid-template-columns: repeat(20, 1.25em);
    grid-auto-rows: 2.5em;
    gap: .25em;
    justify-content: center;
    position:absolute;
    bottom: 20px;
}
.key {
    color: white;
    fill: white;
    font-size: inherit;
    grid-column : span 2;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(
      var(--hue,200),
      var(--saturation,1%),
      calc(var(--lightness-offset,0%) + var(--lightness,51%))
    );
    cursor: pointer;
    border-radius: .25em;
    user-select: none;
}
.key:hover{
  --lightness-offset: 10%;
}
.key.large{
    grid-column: span 4;
}
.main-panel{
    z-index: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.key.nCk{
  background-image: url(./Images/nCk.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.key.Pn{
  background-image: url(./Images/Pn.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.key.nWk{
  background-image: url(./Images/nWk.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.key.nVk{
  background-image: url(./Images/nVk.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.key.leftArrow{
  background-image: url(./Images/leftarrow.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.key.rightArrow{
  background-image: url(./Images/rightarrow.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.display{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
}
.display > h1{
    max-width: 50%;
    word-wrap: break-word;
}
.blinking-cursor {
    font-size: .75em;
    color: white;
    animation: 1s blink step-end infinite;
    max-width: 50%;
    word-wrap: break-word;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  .popup{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    transition: opacity 500ms;
  }
  .popup-inner {
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 18em;
    min-height: 18em;
    background-color: hsl(0, 1%, 18%);
    text-align: center;
  }
  .popup-title {
    position: absolute;
    min-width: 15em;
    top: -2em;
  }
  .popup-btn{
    font:  inherit;
    width: 6em;
    height: 3em;
    border-radius: 10px;
    position: absolute;
    bottom: 12px;
  }
  .popup-form{
    position: absolute;
    top: 3em;
  }
  .popup-label{
    color: white;
    font: inherit;
    font-size:  .6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1px;
  }
  .popup-error{
      font-size: 1.4em;
      max-width: 80%;
  }
  .popup-input{
    font: inherit;
    font-size:  1em;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: 10em;
    height: 2em;
    border-radius: 1px;
  }
sub{
    font-size: .5em;
    line-height: 1.2;
}
.supsub {
    display: inline-block;
}

.supsub sup,
.supsub sub {
    position: relative;
    display: block;
    font-size: .5em;
    line-height: .8;
}

.supsub sub {
    top: .3em;
}
.popup-inner.anwser{
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    color: white;
    min-width: 30em;
    min-height: 12em;
}
.popup-inner.anwser > h1{
    position: absolute;
    top: 15%;
    word-wrap: break-word;
}
